# Import libraries

In [1]:
import numpy as np
import pandas as pd

# Load data

In [2]:
cars = pd.read_csv('../data/capstone_data.csv', index_col='Adv_ID').sort_index()
cars.sample(10)

,Maker,Genmodel,Genmodel_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
Adv_ID,,,,,,,,,,,,,,,,,,,,,
7_9$$390,Audi,A5,7_9,2018,8,Red,2009.0,Coupe,93000,2.0L,...,168.0,140,2751.0,1372.0,2020.0,4626.0,53.3 mpg,140 mph,4.0,2.0
18_13$$449,Citroen,C4 Cactus,18_13,2021,5,Purple,2019.0,Hatchback,24538,1.5L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0
71_4$$1271,Porsche,911,71_4,2018,6,Black,2012.0,Coupe,33800,3.4L,...,350.0,290,2450.0,1303.0,1808.0,4491.0,34.4 mpg,178 mph,4.0,2.0
29_13$$2780,Ford,Fiesta,29_13,2018,8,Brown,2017.0,Hatchback,6801,1.6L,...,104.0,140*,2489.0,1495.0,1978.0,3969.0,47.9 mpg,114 mph,5.0,3.0
59_27$$378,Mercedes-Benz,M Class,59_27,2018,2,Black,2015.0,SUV,17155,2.1L,...,201.0,195,2915.0,1796.0,1926.0,4819.0,45.6 mpg,130 mph,5.0,5.0
62_1$$489,Mitsubishi,ASX,62_1,2020,2,White,2019.0,SUV,9320,1.6L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0
39_2$$6,Jaguar,F-PACE,39_2,2018,7,Black,2017.0,SUV,6499,2.0L,...,237.0,140*,2874.0,1667.0,2175.0,4731.0,48.7 mpg,135 mph,5.0,5.0
29_1$$382,Ford,B-Max,29_1,2018,5,Silver,2014.0,MPV,70689,1.4L,...,89.0,140,2489.0,1604.0,2067.0,4077.0,47.1 mpg,106 mph,5.0,5.0
16_14$$129,Chevrolet,Spark,16_14,2018,4,Silver,2012.0,Hatchback,107000,1.0L,...,67.0,30,2375.0,1522.0,1597.0,3640.0,55.4 mpg,96 mph,5.0,5.0
4_11$$203,Alfa Romeo,Giulietta,4_11,2018,6,White,2015.0,Hatchback,22544,1.4L,...,150.0,140,2634.0,1465.0,1798.0,4350.0,51.4 mpg,130 mph,5.0,5.0

# Clean data

## Column names

In [4]:
cars.columns

Index(['Maker', ' Genmodel', ' Genmodel_ID', 'Adv_year', 'Adv_month', 'Color',
       'Reg_year', 'Bodytype', 'Runned_Miles', 'Engin_size', 'Gearbox',
       'Fuel_type', 'Price', 'Engine_power', 'Annual_Tax', 'Wheelbase',
       'Height', 'Width', 'Length', 'Average_mpg', 'Top_speed', 'Seat_num',
       'Door_num'],
      dtype='object')

In [5]:
cars = cars.rename(columns=lambda x: x.strip().lower())
cars = cars.rename(columns={'engin_size': 'engine_size', 'bodytype': 'body_type', 'runned_miles': 'run_miles'})

In [6]:
cars.index.name = cars.index.name.lower()

In [7]:
cars.columns

Index(['maker', 'genmodel', 'genmodel_id', 'adv_year', 'adv_month', 'color',
       'reg_year', 'body_type', 'run_miles', 'engine_size', 'gearbox',
       'fuel_type', 'price', 'engine_power', 'annual_tax', 'wheelbase',
       'height', 'width', 'length', 'average_mpg', 'top_speed', 'seat_num',
       'door_num'],
      dtype='object')

## Duplicates

In [8]:
cars[cars.duplicated()]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
10_5$$599,Bentley,Continental,10_5,2018,4,Purple,2014.0,Convertible,4800,6.0L,...,NaN,NaN,2746.0,1394.0,2227.0,4806.0,NaN,NaN,4.0,2.0
16_5$$91,Chevrolet,Captiva,16_5,2018,8,Black,2012.0,SUV,115000,2.2L,...,181.00,315,2705.0,1720.0,1850.0,4635.0,36.6 mpg,NaN,7.0,5.0
18_10$$374,Citroen,C3 Picasso,18_10,2017,12,Silver,2017.0,MPV,10,1.6L,...,98.63,140*,2540.0,1624.0,1766.0,4078.0,72.4 mpg,111 mph,5.0,5.0
18_12$$892,Citroen,C4,18_12,2018,8,Blue,2007.0,Hatchback,186000,2.0L,...,138.00,140,2608.0,1458.0,1773.0,4260.0,51.4 mpg,129 mph,5.0,5.0
18_13$$209,Citroen,C4 Cactus,18_13,2018,4,White,2018.0,Hatchback,10,1.6L,...,99.00,140*,2595.0,1540.0,1946.0,4157.0,83.1 mpg,114 mph,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96_3$$163,Volvo,S40,96_3,2018,7,Silver,2007.0,Saloon,79500,2.0L,...,136.00,195,2640.0,1452.0,1770.0,4468.0,48.7 mpg,127 mph,5.0,4.0
96_4$$340,Volvo,S60,96_4,2018,6,Grey,2018.0,Saloon,18,2.0L,...,190.00,140*,2776.0,1484.0,2097.0,4635.0,48.7 mpg,143 mph,5.0,4.0
96_6$$82,Volvo,S90,96_6,2018,5,Black,2018.0,Saloon,100,2.0L,...,190.00,140*,2941.0,1443.0,2019.0,4963.0,64.2 mpg,140 mph,5.0,4.0
96_7$$266,Volvo,V40,96_7,2018,4,White,2016.0,Hatchback,15094,2.0L,...,120.00,0,2647.0,1439.0,2041.0,4369.0,78.5 mpg,118 mph,5.0,5.0
96_8$$618,Volvo,V40 Cross Country,96_8,2018,5,NaN,2018.0,Hatchback,3000,2.0L,...,152.00,140*,2646.0,1470.0,2041.0,4370.0,50.4 mpg,130 mph,5.0,5.0

In [9]:
cars = cars.drop_duplicates()

In [10]:
cars[cars.duplicated()]

Empty DataFrame
Columns: [maker, genmodel, genmodel_id, adv_year, adv_month, color, reg_year, body_type, run_miles, engine_size, gearbox, fuel_type, price, engine_power, annual_tax, wheelbase, height, width, length, average_mpg, top_speed, seat_num, door_num]
Index: []

[0 rows x 23 columns]

## General information

In [11]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 267366 entries, 10_1$$1 to 99_1$$3
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   maker         267366 non-null  object
 1   genmodel      267366 non-null  object
 2   genmodel_id   267366 non-null  object
 3   adv_year      267366 non-null  int64
 4   adv_month     267366 non-null  int64
 5   color         245621 non-null  object
 6   reg_year      267360 non-null  float64
 7   body_type     266429 non-null  object
 8   run_miles     266323 non-null  object
 9   engine_size   265313 non-null  object
 10  gearbox       267200 non-null  object
 11  fuel_type     266958 non-null  object
 12  price         266240 non-null  float64
 13  engine_power  235668 non-null  float64
 14  annual_tax    220794 non-null  object
 15  wheelbase     239452 non-null  float64
 16  height        239649 non-null  float64
 17  width         239370 non-null  float64
 18  length        239649 non-null  float64
 19  average_mpg   225554 non-null  object
 20  top_speed     223885 non-null  object
 21  seat_num      260927 non-null  float64
 22  door_num      262839 non-null  float64
dtypes: float64(9), int64(2), object(12)
memory usage: 49.0+ MB

In [12]:
cars.nunique()

maker              88
genmodel          896
genmodel_id       881
adv_year           10
adv_month          15
color              22
reg_year           26
body_type          18
run_miles       72420
engine_size        74
gearbox             3
fuel_type          13
price           20456
engine_power      466
annual_tax         28
wheelbase         427
height            579
width             475
length            984
average_mpg       358
top_speed         138
seat_num           10
door_num            7
dtype: int64

In [13]:
cars.isna().sum()

maker               0
genmodel            0
genmodel_id         0
adv_year            0
adv_month           0
color           21745
reg_year            6
body_type         937
run_miles        1043
engine_size      2053
gearbox           166
fuel_type         408
price            1126
engine_power    31698
annual_tax      46572
wheelbase       27914
height          27717
width           27996
length          27717
average_mpg     41812
top_speed       43481
seat_num         6439
door_num         4527
dtype: int64

## Column by column walkthrough

### maker column

In [14]:
cars['maker'].info()

<class 'pandas.core.series.Series'>
Index: 267366 entries, 10_1$$1 to 99_1$$3
Series name: maker
Non-Null Count   Dtype
--------------   -----
267366 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [15]:
cars['maker'].nunique()

88

In [16]:
cars['maker'] = cars['maker'].astype('category')

### genmodel column

In [17]:
genmodel_counts = cars.groupby('genmodel')['genmodel_id'].aggregate(func='nunique').sort_values(ascending=False)
genmodel_counts

genmodel
Roadster    3
Coupe       3
GT          3
Insignia    2
Zafira      2
           ..
Doblo       1
Double R    1
Duster      1
E Class     1
up!         1
Name: genmodel_id, Length: 896, dtype: int64

In [18]:
genmodel_names = genmodel_counts[genmodel_counts > 1].index
genmodel_names

Index(['Roadster', 'Coupe', 'GT', 'Insignia', 'Zafira', '4', 'Astra', 'C6',
       'Tacuma', 'Lacetti', '308', '124 Spider', '500', 'Matiz', 'Kalos',
       'California', 'Spider'],
      dtype='object', name='genmodel')

In [19]:
cars[cars['genmodel'].isin(genmodel_names)].groupby(by=['genmodel', 'genmodel_id']).size()

genmodel    genmodel_id
124 Spider  28_1            108
            2_1              29
308         27_1              3
            69_18           795
4           21_3            125
            63_1              5
500         28_2           2769
            59_7              2
Astra       66_1              1
            94_5           3169
C6          18_16            12
            19_1              1
California  27_13            88
            95_9             56
Coupe       36_3             20
            54_5            234
            55_4              8
GT          29_22             4
            41_1              1
            4_12             17
Insignia    66_2              2
            94_13          2070
Kalos       16_10            50
            23_1              9
Lacetti     16_11            49
            23_2              1
Matiz       16_12            90
            23_3              6
Roadster    54_8            273
            63_5              2
            84_3             18
Spider      28_25             1
            4_15             41
Tacuma      16_16            18
            23_5              2
Zafira      66_3              1
            94_27          1340
dtype: int64

### genmodel_id column

In [20]:
genmodel_id_counts = cars.groupby('genmodel_id')['genmodel'].aggregate(func='nunique').sort_values(ascending=False)
genmodel_id_counts

genmodel_id
48_24    7
48_8     7
48_2     6
7_11     5
48_18    4
        ..
47_16    1
47_17    1
47_2     1
47_3     1
99_1     1
Name: genmodel, Length: 881, dtype: int64

In [21]:
genmodel_ids = genmodel_id_counts[genmodel_id_counts > 1].index
genmodel_ids

Index(['48_24', '48_8', '48_2', '7_11', '48_18', '48_21', '48_15', '21_1',
       '48_1', '48_14', '21_5', '21_3'],
      dtype='object', name='genmodel_id')

In [22]:
cars[cars['genmodel_id'].isin(genmodel_ids)].groupby(by=['genmodel_id', 'genmodel']).size()

genmodel_id  genmodel
21_1         3                  343
             DS3               1036
             DS3 Cabrio         230
21_3         4                  125
             DS4                460
21_5         5                   78
             DS5                157
48_1         CT                  41
             CT 200h             55
48_14        LC                   1
             LC 500              23
48_15        LS 430              17
             LS 460              16
             LS 600h             14
48_18        NX                  70
             NX 200t              7
             NX 300h            450
             NX Unspecified       6
48_2         GS 250              17
             GS 300             121
             GS 430               1
             GS 450h             51
             GS F                 6
             GS Unspecified       1
48_21        RC                  16
             RC 200t              3
             RC 300h             69
             RC F                 5
48_24        RX                  45
             RX 200t              4
             RX 300              81
             RX 350              21
             RX 400h            189
             RX 450h            633
             Rx Unspecified       4
48_8         IS                  44
             IS 200              70
             IS 220d            236
             IS 250             289
             IS 300             506
             IS F                 5
             IS Unspecified       2
7_11         A6                 278
             A6 Allroad         205
             A6 Avant          1022
             A6 Saloon         1379
             A6 Unspecified      73
dtype: int64

### adv_year column

In [23]:
cars['adv_year'].info()

<class 'pandas.core.series.Series'>
Index: 267366 entries, 10_1$$1 to 99_1$$3
Series name: adv_year
Non-Null Count   Dtype
--------------   -----
267366 non-null  int64
dtypes: int64(1)
memory usage: 4.1+ MB

In [24]:
cars['adv_year'].describe()

count    267366.000000
mean       2018.128090
std           0.748296
min        2012.000000
25%        2018.000000
50%        2018.000000
75%        2018.000000
max        2021.000000
Name: adv_year, dtype: float64

In [25]:
cars['adv_year'].value_counts().sort_index()

adv_year
2012         3
2013         7
2014        27
2015       105
2016       581
2017     11302
2018    239118
2019       107
2020      1268
2021     14848
Name: count, dtype: int64

### adv_month column

In [26]:
cars['adv_month'].info()

<class 'pandas.core.series.Series'>
Index: 267366 entries, 10_1$$1 to 99_1$$3
Series name: adv_month
Non-Null Count   Dtype
--------------   -----
267366 non-null  int64
dtypes: int64(1)
memory usage: 4.1+ MB

In [27]:
cars['adv_month'].describe()

count    267366.000000
mean          5.627391
std           2.092337
min           1.000000
25%           4.000000
50%           5.000000
75%           7.000000
max          33.000000
Name: adv_month, dtype: float64

In [28]:
cars['adv_month'].value_counts()

adv_month
5     66773
8     50958
4     41093
7     35144
6     25841
3     21704
2      9827
1      6058
12     2975
11     2858
10     2405
9      1727
13        1
17        1
33        1
Name: count, dtype: int64

In [29]:
cars[cars['adv_month'] > 12]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
29_32$$75,Ford,Streetka,29_32,2012,13,Blue,2005.0,Convertible,22000,1.6L,...,94.0,NaN,2450.0,1332.0,1852.0,3650.0,35.8 mpg,108 mph,2.0,2.0
69_23$$2,Peugeot,407,69_23,2012,17,Blue,2006.0,Coupe,77000,2.7L,...,205.0,NaN,2725.0,1399.0,1868.0,4815.0,33.2 mpg,143 mph,4.0,2.0
77_4$$10,Rolls-Royce,Phantom,77_4,2012,33,Black,2007.0,Saloon,20000,6.7L,...,NaN,555,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN

In [30]:
cars = cars[cars['adv_month'] <= 12]

### color column

In [31]:
cars['color'].info()

<class 'pandas.core.series.Series'>
Index: 267363 entries, 10_1$$1 to 99_1$$3
Series name: color
Non-Null Count   Dtype
--------------   -----
245618 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [32]:
cars['color'].value_counts(dropna=False)

color
Black          48613
Silver         40147
Blue           38267
Grey           37591
White          34099
Red            25835
NaN            21745
Green           5020
Yellow          3063
Brown           2876
Orange          2821
Beige           1980
Purple          1360
Gold            1221
Bronze          1200
Multicolour      794
Pink             298
Maroon           179
Turquoise        176
Burgundy          48
Magenta           18
Navy               8
Indigo             4
Name: count, dtype: int64

In [33]:
cars['color'] = cars['color'].astype('category')

### reg_year column

In [34]:
cars['reg_year'].info()

<class 'pandas.core.series.Series'>
Index: 267363 entries, 10_1$$1 to 99_1$$3
Series name: reg_year
Non-Null Count   Dtype
--------------   -----
267357 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [35]:
cars[cars['reg_year'].isna()]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
8_11$$225,BMW,6 Series,8_11,2018,3,Black,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8_11$$227,BMW,6 Series,8_11,2018,1,Silver,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8_12$$103,BMW,6 Series Gran Coupe,8_12,2018,2,Black,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8_14$$369,BMW,7 Series,8_14,2018,4,Grey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8_14$$405,BMW,7 Series,8_14,2018,2,Black,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8_29$$160,BMW,M2,8_29,2018,4,Black,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
cars = cars.dropna(subset=['reg_year'])
cars['reg_year'] = cars['reg_year'].astype('int')

### body_type column

In [37]:
cars['body_type'].info()

<class 'pandas.core.series.Series'>
Index: 267357 entries, 10_1$$1 to 99_1$$3
Series name: body_type
Non-Null Count   Dtype
--------------   -----
266426 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [38]:
cars['body_type'].value_counts(dropna=False)

body_type
Hatchback          103244
SUV                 64174
Saloon              22561
MPV                 22481
Coupe               17051
Estate              16784
Convertible         13195
Pickup               5247
NaN                   931
Combi Van             655
Panel Van             476
Minibus               228
Car Derived Van       118
Limousine              93
Window Van             88
Camper                 24
Manual                  5
Tipper                  1
Chassis Cab             1
Name: count, dtype: int64

In [39]:
cars['body_type'] = cars['body_type'].astype('category')

In [40]:
cars[cars['body_type'] == 'Manual']

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
28_27$$2,Fiat,Talento,28_27,2018,3,Grey,2018,Manual,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94_10$$203,Vauxhall,Crossland X,94_10,2018,8,White,2018,Manual,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
94_24$$118,Vauxhall,Vivaro,94_24,2017,5,Green,2018,Manual,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94_24$$182,Vauxhall,Vivaro,94_24,2016,9,Silver,2018,Manual,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94_24$$88,Vauxhall,Vivaro,94_24,2016,7,NaN,2018,Manual,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
filter_condition = cars['body_type'] == 'Manual'

cars.loc[filter_condition, ['body_type', 'gearbox']] = cars.loc[filter_condition, ['gearbox', 'body_type']].values

### run_miles column

In [42]:
cars['run_miles'].info()

<class 'pandas.core.series.Series'>
Index: 267357 entries, 10_1$$1 to 99_1$$3
Series name: run_miles
Non-Null Count   Dtype
--------------   -----
266320 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [43]:
miles_mask = pd.to_numeric(cars['run_miles'], errors='coerce').notna()
cars[~miles_mask]['run_miles'].value_counts(dropna=False)

run_miles
NaN       1037
1 mile     220
Name: count, dtype: int64

In [44]:
cars['run_miles'] = cars['run_miles'].replace('1 mile', '1')
cars['run_miles'] = cars['run_miles'].astype('float')

In [45]:
cars['run_miles'].describe()

count    2.663200e+05
mean     4.825502e+04
std      4.183808e+04
min      0.000000e+00
25%      1.426000e+04
50%      3.945750e+04
75%      7.500000e+04
max      6.363342e+06
Name: run_miles, dtype: float64

In [46]:
cars['run_miles'].sort_values(ascending=False)

adv_id
95_15$$993     6363342.0
36_6$$73       1080000.0
54_3$$164       967515.0
29_14$$1013     900000.0
39_7$$823       900000.0
                 ...
96_7$$53             NaN
96_7$$55             NaN
96_7$$59             NaN
96_8$$36             NaN
96_9$$443            NaN
Name: run_miles, Length: 267357, dtype: float64

In [47]:
(cars['run_miles'] / (2024 - cars['reg_year']) / 365).sort_values(ascending=False)

adv_id
95_15$$993     1025.518453
29_14$$1013     176.125245
39_7$$823       176.125245
36_6$$73        155.731795
21_1$$1000      149.259361
                  ...
96_7$$53               NaN
96_7$$55               NaN
96_7$$59               NaN
96_8$$36               NaN
96_9$$443              NaN
Length: 267357, dtype: float64

In [48]:
cars = cars.drop('95_15$$993')

### engine_size column

In [49]:
cars['engine_size'].info()

<class 'pandas.core.series.Series'>
Index: 267356 entries, 10_1$$1 to 99_1$$3
Series name: engine_size
Non-Null Count   Dtype
--------------   -----
265309 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [50]:
cars['engine_size'].value_counts()

engine_size
2.0L       59200
1.6L       44208
3.0L       23445
1.2L       21942
1.4L       19219
           ...
8.2L           1
5.3L           1
6.9L           1
10.0L          1
2998.0L        1
Name: count, Length: 74, dtype: int64

In [51]:
cars['engine_size'] = cars['engine_size'].str.slice(stop=-1)
cars['engine_size'] = cars['engine_size'].astype('float')

In [52]:
cars['engine_size'].sort_values(ascending=False)

adv_id
64_8$$77     3500.0
62_11$$3     2998.0
64_6$$2      1400.0
87_3$$349      10.0
71_8$$487       8.2
              ...
96_3$$66        NaN
96_4$$146       NaN
96_5$$10        NaN
96_7$$357       NaN
97_1$$2         NaN
Name: engine_size, Length: 267356, dtype: float64

In [53]:
problematic_indexes = ['64_8$$77', '62_11$$3', '64_6$$2']
cars.loc[problematic_indexes, 'engine_size'] = (cars.loc[problematic_indexes, 'engine_size'] / 1000).round(1)
cars.loc[problematic_indexes]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
64_8$$77,Nissan,Elgrand,64_8,2018,7,Black,2004,MPV,52000.0,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
62_11$$3,Mitsubishi,Gto,62_11,2018,5,Red,2002,Coupe,61000.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
64_6$$2,Nissan,Cubic,64_6,2018,5,NaN,2003,Estate,71000.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN

### gearbox column

In [54]:
cars['gearbox'].info()

<class 'pandas.core.series.Series'>
Index: 267356 entries, 10_1$$1 to 99_1$$3
Series name: gearbox
Non-Null Count   Dtype
--------------   -----
267201 non-null  object
dtypes: object(1)
memory usage: 12.1+ MB

In [55]:
cars['gearbox'].value_counts(dropna=False)

gearbox
Manual            170128
Automatic          96936
NaN                  155
Semi-Automatic       137
Name: count, dtype: int64

In [56]:
cars['gearbox'] = cars['gearbox'].astype('category')

### fuel_type column

In [57]:
cars['fuel_type'].info()

<class 'pandas.core.series.Series'>
Index: 267356 entries, 10_1$$1 to 99_1$$3
Series name: fuel_type
Non-Null Count   Dtype
--------------   -----
266954 non-null  object
dtypes: object(1)
memory usage: 12.1+ MB

In [58]:
cars['fuel_type'].value_counts(dropna=False)

fuel_type
Diesel                             132522
Petrol                             126761
Hybrid  Petrol/Electric              4491
Electric                             1301
Hybrid  Petrol/Electric Plug-in      1007
NaN                                   402
Petrol Hybrid                         385
Petrol Plug-in Hybrid                 258
Hybrid  Diesel/Electric               108
Diesel Hybrid                          47
Hybrid  Diesel/Electric Plug-in        37
Bi Fuel                                27
Petrol Ethanol                          8
Diesel Plug-in Hybrid                   2
Name: count, dtype: int64

In [59]:
fuel_dict = {
    'Hybrid  Petrol/Electric': 'Petrol Hybrid',
    'Hybrid  Petrol/Electric Plug-in': 'Petrol Plug-in Hybrid',
    'Hybrid  Diesel/Electric': 'Diesel Hybrid',
    'Hybrid  Diesel/Electric Plug-in': 'Diesel Plug-in Hybrid',
    'Petrol Ethanol': 'Petrol'
}

cars['fuel_type'] = cars['fuel_type'].replace(fuel_dict)
cars['fuel_type'] = cars['fuel_type'].astype('category')

In [60]:
cars['fuel_type'].value_counts(dropna=False)

fuel_type
Diesel                   132522
Petrol                   126769
Petrol Hybrid              4876
Electric                   1301
Petrol Plug-in Hybrid      1265
NaN                         402
Diesel Hybrid               155
Diesel Plug-in Hybrid        39
Bi Fuel                      27
Name: count, dtype: int64

### price column

In [61]:
cars['price'].info()

<class 'pandas.core.series.Series'>
Index: 267356 entries, 10_1$$1 to 99_1$$3
Series name: price
Non-Null Count   Dtype
--------------   -----
266236 non-null  float64
dtypes: float64(1)
memory usage: 12.1+ MB

In [62]:
cars['price'].describe()

count    2.662360e+05
mean     1.475423e+04
std      3.236736e+04
min      1.000000e+02
25%      4.990000e+03
50%      9.295000e+03
75%      1.711100e+04
max      9.999999e+06
Name: price, dtype: float64

In [63]:
cars.sort_values(by='price', ascending=False)

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
58_6$$13,McLaren,675LT,58_6,2017,6,Silver,2016,Coupe,200.0,3.8,...,666.0,555,2670.0,1188.0,2095.0,4546.0,NaN,205 mph,2.0,2.0
27_21$$1,Ferrari,Laferrari,27_21,2018,3,Red,2014,Coupe,1824.0,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
27_21$$3,Ferrari,Laferrari,27_21,2018,4,Red,2014,Coupe,1502.0,NaN,...,NaN,555,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
58_8$$5,McLaren,P1,58_8,2021,4,Yellow,2019,Coupe,600.0,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
27_15$$2,Ferrari,Enzo,27_15,2018,3,Red,2004,Coupe,7620.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8_29$$9,BMW,M2,8_29,2018,4,Black,2017,Coupe,2800.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$91,BMW,M2,8_29,2018,4,NaN,2016,Coupe,4650.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$93,BMW,M2,8_29,2017,6,NaN,2017,Coupe,500.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$95,BMW,M2,8_29,2018,4,Black,2018,Coupe,100.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$96,BMW,M2,8_29,2018,2,Blue,2016,Coupe,9321.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0

In [64]:
cars[cars['price'].isna()]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
8_11$$1,BMW,6 Series,8_11,2018,2,Black,2009,Convertible,39000.0,4.8,...,NaN,NaN,2780.0,1373.0,1855.0,4820.0,NaN,NaN,4.0,2.0
8_11$$10,BMW,6 Series,8_11,2017,11,Blue,2012,Coupe,86000.0,3.0,...,NaN,NaN,2855.0,1369.0,2090.0,4894.0,NaN,NaN,4.0,2.0
8_11$$100,BMW,6 Series,8_11,2018,4,Grey,2005,Coupe,56000.0,4.4,...,NaN,NaN,2780.0,1373.0,1855.0,4820.0,NaN,NaN,5.0,2.0
8_11$$101,BMW,6 Series,8_11,2018,2,Black,2013,Coupe,49000.0,3.0,...,NaN,NaN,2855.0,1369.0,2090.0,4894.0,NaN,NaN,5.0,2.0
8_11$$102,BMW,6 Series,8_11,2018,3,Silver,2013,Coupe,76581.0,3.0,...,NaN,NaN,2855.0,1369.0,2090.0,4894.0,NaN,NaN,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8_29$$9,BMW,M2,8_29,2018,4,Black,2017,Coupe,2800.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$91,BMW,M2,8_29,2018,4,NaN,2016,Coupe,4650.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$93,BMW,M2,8_29,2017,6,NaN,2017,Coupe,500.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$95,BMW,M2,8_29,2018,4,Black,2018,Coupe,100.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0
8_29$$96,BMW,M2,8_29,2018,2,Blue,2016,Coupe,9321.0,3.0,...,NaN,NaN,2693.0,1410.0,1854.0,4468.0,NaN,NaN,4.0,2.0

In [65]:
cars = cars.dropna(subset=['price'])

In [66]:
cars = cars[cars['price'] != 9999999]

### engine_power column

In [67]:
cars['engine_power'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: engine_power
Non-Null Count   Dtype
--------------   -----
235664 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [68]:
cars['engine_power'].describe()

count    235664.00000
mean        150.68207
std          84.52781
min          17.00000
25%          99.00000
50%         128.00000
75%         175.00000
max         740.00000
Name: engine_power, dtype: float64

In [69]:
cars[cars['engine_power'].isna()]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
10_1$$1,Bentley,Arnage,10_1,2018,4,Silver,2000,Saloon,60000.0,6.8,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
10_1$$10,Bentley,Arnage,10_1,2017,11,Silver,2003,Saloon,38000.0,6.8,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
10_1$$11,Bentley,Arnage,10_1,2018,3,Green,2003,Saloon,69491.0,6.8,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
10_1$$13,Bentley,Arnage,10_1,2018,4,Silver,2000,Saloon,53444.0,6.8,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
10_1$$15,Bentley,Arnage,10_1,2018,4,Black,2000,Saloon,61500.0,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97_1$$1,Westfield,Sport,97_1,2018,5,Yellow,2006,Convertible,1800.0,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
97_1$$2,Westfield,Sport,97_1,2018,5,Yellow,2006,Convertible,2009.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99_1$$1,Zenos,E10,99_1,2018,3,Red,2016,Convertible,6.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
99_1$$2,Zenos,E10,99_1,2018,3,Green,2016,Convertible,1538.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
99_1$$3,Zenos,E10,99_1,2018,5,Grey,2016,Convertible,500.0,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

### annual_tax column

In [70]:
cars['annual_tax'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: annual_tax
Non-Null Count   Dtype
--------------   -----
220791 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [71]:
cars['annual_tax'].value_counts(dropna=False)

annual_tax
NaN      45444
 140*    31697
 30      23856
 140     23705
 195     23148
 120     18347
 20      17738
 155     16101
 0       13902
 315     12732
 230      9171
 290      8849
 250      7805
 555      5022
 540      4534
 130*     1446
*          851
 10        704
 145       431
 110       297
 280       196
 0*        167
 240        30
 185        28
 305        13
 530        11
 220         7
 130         2
 545         1
Name: count, dtype: int64

In [72]:
cars['annual_tax'] = cars['annual_tax'].replace('*', np.NaN)
cars['annual_tax'] = cars['annual_tax'].str.replace('*', '')

cars['annual_tax'] = cars['annual_tax'].astype('float')

In [73]:
cars['annual_tax'].value_counts(dropna=False)

annual_tax
140.0    55402
NaN      46295
30.0     23856
195.0    23148
120.0    18347
20.0     17738
155.0    16101
0.0      14069
315.0    12732
230.0     9171
290.0     8849
250.0     7805
555.0     5022
540.0     4534
130.0     1448
10.0       704
145.0      431
110.0      297
280.0      196
240.0       30
185.0       28
305.0       13
530.0       11
220.0        7
545.0        1
Name: count, dtype: int64

### wheelbase column

In [74]:
cars['wheelbase'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: wheelbase
Non-Null Count   Dtype
--------------   -----
238386 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [75]:
cars['wheelbase'].describe()

count    238386.000000
mean       2563.036915
std         490.548504
min           0.000000
25%        2511.000000
50%        2638.000000
75%        2751.000000
max        5246.000000
Name: wheelbase, dtype: float64

In [76]:
cars['wheelbase'].value_counts().sort_index()

wheelbase
0.0       7406
1420.0      28
1445.0       1
1505.0       6
1541.0       1
          ...
3570.0      24
3820.0       3
3827.0       3
4065.0      33
5246.0       8
Name: count, Length: 427, dtype: int64

In [77]:
cars['wheelbase'] = cars['wheelbase'].replace(0, np.NaN)

### height column

In [78]:
cars['height'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: height
Non-Null Count   Dtype
--------------   -----
238583 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [79]:
cars['height'].describe()

count    238583.000000
mean       1531.167447
std         164.201233
min           0.000000
25%        1456.000000
50%        1494.000000
75%        1624.000000
max        2660.000000
Name: height, dtype: float64

In [80]:
cars['height'].value_counts().sort_index()

height
0.0       941
200.0      82
669.0       2
797.0       4
803.0      10
         ...
2168.0     44
2176.0      1
2381.0      1
2389.0      1
2660.0     28
Name: count, Length: 579, dtype: int64

In [81]:
cars.loc[cars['height'].between(0, 1000, inclusive='neither'), ['maker', 'genmodel', 'height']]

                 maker genmodel  height
adv_id
29_30$$11         Ford   Ranger   803.0
29_30$$129        Ford   Ranger   803.0
29_30$$147        Ford   Ranger   805.0
29_30$$15         Ford   Ranger   805.0
29_30$$159        Ford   Ranger   805.0
...                ...      ...     ...
62_13$$921  Mitsubishi     L200   200.0
62_13$$926  Mitsubishi     L200   200.0
62_13$$934  Mitsubishi     L200   200.0
62_13$$943  Mitsubishi     L200   200.0
62_13$$954  Mitsubishi     L200   200.0

[123 rows x 3 columns]

In [82]:
cars.loc[cars['height'] < 1000, 'height'] = np.NaN

### width column

In [83]:
cars['width'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: width
Non-Null Count   Dtype
--------------   -----
238304 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [84]:
cars['width'].describe()

count    238304.000000
mean       1895.478116
std         151.046323
min        1191.000000
25%        1780.000000
50%        1884.000000
75%        2020.000000
max        2690.000000
Name: width, dtype: float64

### length column

In [85]:
cars['length'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: length
Non-Null Count   Dtype
--------------   -----
238583 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [86]:
cars['length'].describe()

count    238583.000000
mean       4369.194624
std         422.219194
min           0.000000
25%        4081.000000
50%        4384.000000
75%        4672.000000
max        6165.000000
Name: length, dtype: float64

In [87]:
cars['length'].value_counts().sort_index()

length
0.0        88
1971.0      1
2337.0      1
2500.0     77
2622.0      3
         ...
5842.0      1
5970.0    228
6084.0      1
6092.0      2
6165.0      3
Name: count, Length: 984, dtype: int64

In [88]:
cars['length'] = cars['length'].replace(0, np.NaN)

### average_mpg column

In [89]:
cars['average_mpg'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: average_mpg
Non-Null Count   Dtype
--------------   -----
225551 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [90]:
cars['average_mpg'].value_counts()

average_mpg
62.8 mpg    8734
55.4 mpg    8065
47.9 mpg    7961
47.1 mpg    7941
54.3 mpg    6907
            ...
42.4 mpg       1
44.0 mpg       1
61.0 mpg       1
18.7 mpg       1
46.2 mpg       1
Name: count, Length: 358, dtype: int64

In [91]:
cars['average_mpg'] = cars['average_mpg'].str.replace('mpg', '').str.strip()

cars['average_mpg'] = cars['average_mpg'].astype('float')

In [92]:
cars['average_mpg'].describe()

count    225551.000000
mean         50.902906
std          15.807081
min           9.400000
25%          41.500000
50%          50.400000
75%          60.100000
max         471.000000
Name: average_mpg, dtype: float64

In [93]:
cars['average_mpg'].value_counts().sort_index(ascending=False)

average_mpg
471.0    80
200.0     6
176.6    22
166.1    26
156.9    88
         ..
11.4     13
11.3      1
11.2      2
9.8       2
9.4       2
Name: count, Length: 358, dtype: int64

In [94]:
cars[cars['average_mpg'] == 200]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
43_6$$180,Kia,Optima,43_6,2018,2,Silver,2018,Estate,3545.0,2.0,...,154.0,130.0,2805.0,1470.0,1860.0,4855.0,200.0,119 mph,5.0,5.0
43_6$$190,Kia,Optima,43_6,2018,4,Red,2018,Estate,7000.0,2.0,...,154.0,130.0,2805.0,1470.0,1860.0,4855.0,200.0,119 mph,5.0,5.0
43_6$$203,Kia,Optima,43_6,2018,7,Red,2018,Estate,9664.0,2.0,...,154.0,130.0,2805.0,1470.0,1860.0,4855.0,200.0,119 mph,5.0,5.0
43_6$$218,Kia,Optima,43_6,2018,5,Silver,2017,Estate,7000.0,2.0,...,154.0,130.0,2805.0,1470.0,1860.0,4855.0,200.0,119 mph,5.0,5.0
43_6$$401,Kia,Optima,43_6,2018,4,Blue,2018,Estate,4500.0,2.0,...,154.0,130.0,2805.0,1470.0,1860.0,4855.0,200.0,119 mph,5.0,5.0
43_6$$416,Kia,Optima,43_6,2018,8,Silver,2018,Estate,6000.0,2.0,...,154.0,130.0,2805.0,1470.0,1860.0,4855.0,200.0,119 mph,5.0,5.0

### top_speed column

In [95]:
cars['top_speed'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: top_speed
Non-Null Count   Dtype
--------------   -----
223881 non-null  object
dtypes: object(1)
memory usage: 4.1+ MB

In [96]:
cars['top_speed'].value_counts()

top_speed
112 mph    15667
155 mph    10831
118 mph    10067
130 mph     8996
99 mph      7621
           ...
209 mph        3
50 mph         1
218 mph        1
76 mph         1
78 mph         1
Name: count, Length: 138, dtype: int64

In [97]:
cars['top_speed'] = cars['top_speed'].str.replace('mph', '').str.strip()
cars['top_speed'] = cars['top_speed'].astype('float')

In [98]:
cars['top_speed'].describe()

count    223881.000000
mean        122.052398
std          18.544824
min          11.000000
25%         109.000000
50%         118.000000
75%         131.000000
max         226.000000
Name: top_speed, dtype: float64

In [99]:
cars['top_speed'].value_counts().sort_index()

top_speed
11.0      4
50.0      1
76.0      1
78.0      1
80.0      3
         ..
211.0    38
212.0    19
217.0    75
218.0     1
226.0    13
Name: count, Length: 138, dtype: int64

In [100]:
cars[cars['top_speed'] == 11]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
29_13$$1250,Ford,Fiesta,29_13,2018,8,Silver,2016,Hatchback,26267.0,1.0,...,99.0,0.0,2489.0,1495.0,1978.0,3969.0,65.7,11.0,5.0,5.0
29_13$$1489,Ford,Fiesta,29_13,2018,8,Red,2016,Hatchback,41491.0,1.0,...,99.0,0.0,2489.0,1495.0,1978.0,3969.0,65.7,11.0,5.0,5.0
29_13$$2994,Ford,Fiesta,29_13,2018,8,Brown,2016,Hatchback,17335.0,1.0,...,99.0,0.0,2489.0,1495.0,1978.0,3969.0,65.7,11.0,5.0,5.0
29_13$$771,Ford,Fiesta,29_13,2018,3,Blue,2016,Hatchback,43402.0,1.0,...,99.0,0.0,2489.0,1495.0,1978.0,3969.0,65.7,11.0,5.0,5.0

In [101]:
cars['top_speed'] = cars['top_speed'].replace(11, np.NaN)

### seat_num column

In [102]:
cars['seat_num'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: seat_num
Non-Null Count   Dtype
--------------   -----
259826 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [103]:
cars['seat_num'].describe()

count    259826.000000
mean          4.905102
std           0.879931
min           1.000000
25%           5.000000
50%           5.000000
75%           5.000000
max          17.000000
Name: seat_num, dtype: float64

In [104]:
cars['seat_num'].value_counts().sort_index()

seat_num
1.0          1
2.0       8521
3.0        125
4.0      40145
5.0     190694
6.0        469
7.0      19041
8.0        590
9.0        237
17.0         3
Name: count, dtype: int64

In [105]:
cars[cars['seat_num'] == 1]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
75_2$$986,Renault,Clio,75_2,2018,2,Red,2011,Hatchback,1000.0,2.0,...,197.0,NaN,2585.0,1484.0,2025.0,4017.0,34.4,140.0,1.0,3.0

In [106]:
cars['seat_num'] = cars['seat_num'].replace(1, np.NaN)

### door_num column

In [107]:
cars['door_num'].info()

<class 'pandas.core.series.Series'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Series name: door_num
Non-Null Count   Dtype
--------------   -----
261772 non-null  float64
dtypes: float64(1)
memory usage: 4.1+ MB

In [108]:
cars['door_num'].describe()

count    261772.000000
mean          4.375246
std           1.007626
min           0.000000
25%           4.000000
50%           5.000000
75%           5.000000
max           7.000000
Name: door_num, dtype: float64

In [109]:
cars['door_num'].value_counts().sort_index()

door_num
0.0         1
2.0     23069
3.0     32816
4.0     28870
5.0    176846
6.0       169
7.0         1
Name: count, dtype: int64

In [110]:
cars[cars['door_num'].isin([0, 7])]

,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,engine_size,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
adv_id,,,,,,,,,,,,,,,,,,,,,
29_21$$2,Ford,Grand Tourneo Connect,29_21,2018,8,Red,2015,MPV,31000.0,1.6,...,148.0,250.0,NaN,1845.0,2137.0,4818.0,NaN,NaN,7.0,7.0
75_19$$2,Renault,Twizy,75_19,2021,5,Orange,2019,Coupe,558.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0

In [111]:
cars['door_num'] = cars['door_num'].replace(0, np.NaN)

## Missing data

In [112]:
def fill_with_mode(x):
    mode_values = x.mode()
    if len(mode_values) > 0:
        return x.fillna(mode_values[0])
    else:
        return x

In [113]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   maker         266235 non-null  category
 1   genmodel      266235 non-null  object
 2   genmodel_id   266235 non-null  object
 3   adv_year      266235 non-null  int64
 4   adv_month     266235 non-null  int64
 5   color         244498 non-null  category
 6   reg_year      266235 non-null  int64
 7   body_type     265303 non-null  category
 8   run_miles     265201 non-null  float64
 9   engine_size   264199 non-null  float64
 10  gearbox       266085 non-null  category
 11  fuel_type     265836 non-null  category
 12  price         266235 non-null  float64
 13  engine_power  235664 non-null  float64
 14  annual_tax    219940 non-null  float64
 15  wheelbase     230980 non-null  float64
 16  height        237519 non-null  float64
 17  width         238304 non-null  float64
 18  length        238495 non-null  float64
 19  average_mpg   225551 non-null  float64
 20  top_speed     223877 non-null  float64
 21  seat_num      259825 non-null  float64
 22  door_num      261771 non-null  float64
dtypes: category(5), float64(13), int64(3), object(2)
memory usage: 39.9+ MB

In [114]:
columns_to_fill = [
    'body_type',
    'engine_size',
    'fuel_type',
    'engine_power',
    'wheelbase',
    'height',
    'width',
    'length',
    'seat_num',
    'door_num',
]

for col in columns_to_fill:
    cars[col] = cars.groupby('genmodel_id')[col].transform(fill_with_mode)

In [115]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266235 entries, 10_1$$1 to 99_1$$3
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   maker         266235 non-null  category
 1   genmodel      266235 non-null  object
 2   genmodel_id   266235 non-null  object
 3   adv_year      266235 non-null  int64
 4   adv_month     266235 non-null  int64
 5   color         244498 non-null  category
 6   reg_year      266235 non-null  int64
 7   body_type     266216 non-null  category
 8   run_miles     265201 non-null  float64
 9   engine_size   265913 non-null  float64
 10  gearbox       266085 non-null  category
 11  fuel_type     266233 non-null  category
 12  price         266235 non-null  float64
 13  engine_power  264280 non-null  float64
 14  annual_tax    219940 non-null  float64
 15  wheelbase     257408 non-null  float64
 16  height        265081 non-null  float64
 17  width         265403 non-null  float64
 18  length        265418 non-null  float64
 19  average_mpg   225551 non-null  float64
 20  top_speed     223877 non-null  float64
 21  seat_num      266172 non-null  float64
 22  door_num      265958 non-null  float64
dtypes: category(5), float64(13), int64(3), object(2)
memory usage: 39.9+ MB

In [116]:
cars.to_csv('../data/processed_capstone_data.csv')